/** 
 * Keep @font-face declaration in this file
 * Until you can get it working in App.js injectGlobal
*/

@font-face {
  font-family: 'raincoatregular';
  src: url('../fonts/typodermic_-_raincoat-regular-webfont.woff2') format('woff2'),
       url('../fonts/typodermic_-_raincoat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/**
 * TODO: By the time we're done, any styles that still
 * live in this file are candidates for theming:
 * https://www.styled-components.com/docs/advanced#theming
 */

.sr-only {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
}